<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wish List Dashboard</title>

    <style>
        table,
        th,
        td {
            border: 2px solid black;
            border-collapse: collapse;
        }
    </style>
</head>

<body>
        {% if messages %} {% for message in messages %}
        <h3>{{ message }}</h3>
        {% endfor %} {% endif %}
    <div class="container">
        <h2>Welcome, {{ request.session.username }}!</h2>
        <a href="/logout">Logout</a><br><br><a href="/item_form">Add Item</a>
        <hr>
    </div>

    <div id="myItems">



        <body>
<!-- --------------------------------------------------------------------------------------------------- -->
            <h2>Your Wish List</h2>
            <table style="width:800px" id="userList">

                <tr>
                    <th>Item</th>
                    <th>Added By</th>
                    <th>Date Added</th>
                    <th>Action</th>
                </tr>

                {% for item in items %}
                {% if request.session.user_id == item.seller_id %}

                <tr>
                    <td><a href="{% url 'view_item' item_id=item.id %}">{{ item.item }}</a></td>
                    <td>{{ item.seller.username }}</td>
                    <td>{{ item.created_at }}</td>
                    <td><a href="{% url 'remove_item' id=item.id %}">Delete</a> </td>  
                    
                </tr>

                {% endif %}                
                {% endfor %}
<!-- --------------------------------------------------------------------------------------------------- -->

                 
                

                


<!-- --------------------------------------------------------------------------------------------------- -->

                {% for item in wished_items %}
                

                <tr>
                    <td><a href="{% url 'view_item' item_id=item.id %}">{{ item.item }}</a></td>
                    <td>{{ item.seller.username }}</td>
                    <td>{{ item.created_at }}</td>
                    <td><a href="/unjoin/{{item.id}} ">Remove From Wishlist</a></td>
                </tr>
                               
                {% endfor %}

            </table>
    </div>
  
    <br><br>
  

    <div id="otherItems">


        <body>
            <h2>Other User's Wish Items</h2>
            <table style="width:1000px" id="otherList">

                <tr>
                    <th>Item</th>
                    <th>Added By</th>
                    <th>Date Added</th>
                    <th>Action</th>
                </tr>

                {% for item in items %}
                {% if request.session.user_id != item.seller_id or if  %}

               
                {% if request.session.user_id != item.wishers.user_id %}                
                
                <tr>
                    <td><a href="{% url 'view_item' item_id=item.id %}">{{ item.item }}</a></td>
                    <td>{{ item.seller.username }}</td>
                    <td>{{ item.created_at }}</td>

                    <td>
                     {% if request.session.user_id != item.wishers.user_id %}
                   <a href="/join/{{item.id}} ">Add To Wish List</a>
                    {% endif %}
                    </td>  
                </tr>
                {% endif %}  
                
                
                {% endif %}                
                {% endfor %}

            </table>
    </div>
    </body>

</html>